---
layout: default
---
<header class="entry-header"> 
    <div class="entry-header-wrap">        
        <div class="post-thumbnail">
            <img src="/images/posts/devi.jpg" alt="{{ page.title }}">
        </div>        
        <h1 class="entry-title">{{ page.title }}</h1>
    </div>
    <div class="entry-meta">
        by <span class="post-author">Tri Nguyen</span> on <time class="published" datetime="{{ page.date | date_to_string }}">{{ page.date | date_to_string }}</time>
    </div>
</header>

<div class="post">
  {{ content }}
</div>